.card{
  position: relative;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  display: flex;
  overflow: hidden;
  margin-top: 10px;
}

.image{
  min-width: 100%;
  min-height: 100%;
  transition: transform 1.2s;
}

.image:hover{
  transform: scale(1.3);
}
