<header>
  <app-nav-bar></app-nav-bar>
</header>
<div>
  <app-menu-title></app-menu-title>
  <div class="articles">
    <div class="articles-main">
      <app-big-card
        photoCover="https://image.shutterstock.com/image-vector/img-file-document-icon-260nw-1363855613.jpg"
        cardTitle="Novo Angular"
        cardDescription="tes tte st testte  sttest test test testt estt  est test test tes ttest est test"
      ></app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card
        photoCover="https://image.shutterstock.com/image-vector/img-file-document-icon-260nw-1363855613.jpg"
        cardDescription="tes tte st testte  sttest test test testt estt  est test test tes ttest est test"
      ></app-small-card>
      <app-small-card
        photoCover="https://image.shutterstock.com/image-vector/img-file-document-icon-260nw-1363855613.jpg"
        cardDescription="tes tte st testte  sttest test test testt estt  est test test tes ttest est test"
      ></app-small-card>
      <app-small-card
        photoCover="https://image.shutterstock.com/image-vector/img-file-document-icon-260nw-1363855613.jpg"
        cardDescription="tes tte st testte  sttest test test testt estt  est test test tes ttest est test"
      ></app-small-card>
    </div>
  </div>
</div>
